// คิดถึงแต่

body {
    overflow-x: hidden;
}

.deactive { display: none !important;}
.activeFlex { display: flex !important; }
.activeSidebar { right: 0 !important; }
.activeOverlay { display: block !important; }
.deScroll { overflow: hidden !important; }

// navbarrrrrrrrrrr
.navSticky {
    height: 45px !important;
    background-color: #111 !important;
}

#container_navbar {
    user-select: none;
    position: fixed;
    font-family: 'Prompt', sans-serif;
    width: 100%;
    height: 60px;
    top: 0px !important;
    background-color: $colorDark;
    transition: 0.2s ease-in-out;
    
    .areaNav {
        transition: 0.4s ease-in-out;
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        a {
            text-decoration: none;
        }
        
        .textTitle {        
            margin-top: -2px;
            a {
                font-family: 'Mitr', sans-serif !important;
                margin-left: 16px;
                letter-spacing: 1.4px;
                font-size: 24px;
                font-weight: 300;
                color: $colorWhite;
            }
        }
        
        .menu {
            display: flex;
            flex-direction: row;
            .item {
                margin: 0 24px;
                a {
                    transition: 0.2s ease-in-out;
                    color: $colorWhite;
                    font-size: 16px;
                    
                    i {
                        font-size: 12px;
                        margin-left: 4px;
                    }
                    &:hover {
                        color: $colorOrangeWhite + 60;
                    }
                }
                
                .verSubMenuMain {
                    display: none;
                    flex-direction: column;
                    margin-top: 14px;
                    margin-left: -20px;
                    line-height: 40px;
                    padding: 0 36px 8px 36px;
                    background-color: #222;
                    position: absolute;
                }                
            }
            
            .userLogin {
                span {
                    margin-right: 4px;
                    letter-spacing: 1px;
                    color: rgb(255, 166, 0);
                }
                a {
                    letter-spacing: 2px;
                    &:hover {
                        color: rgb(255, 166, 0) !important;
                    }
                }
            }
        }
        
        .menu-btn {
            i {
                cursor: pointer;
                margin-top: 2px;
                margin-right: 8px;
                color: white;
                font-size: 20px;
            }
        }
    }
}

// Responsive sidebar Menu !!
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.side-bar {
    transition: 0.3s ease-in-out;
    z-index: 3;
    font-family: 'Prompt', sans-serif;
    user-select: none;
    position: fixed;
    top: 0;
    width: 260px;
    height: 100vh;
    right: -260px;
    background: $colorDark;

    .close-btn-sidebar {
        z-index: 16;
        position: absolute;
        color: #fff;
        right: 0;
        margin-top: 14px;
        margin-right: 234px;
        cursor: pointer;
    }

    .menu {
        width: 100%;
        margin-top: 80px;
    }
    
    .userLogin {
        display: flex;
        flex-direction: row;
        margin: 100px 0 40px 0;       
    
        a {
            text-align: center;
            width: 100%;
            padding: 0 !important;
            font-size: 18px !important;                
            letter-spacing: 3px !important;
            &:hover {
                color: rgb(255, 166, 0);
                background: transparent !important;
            }
        }
        
        span {
            letter-spacing: 1px !important;
            color: rgb(255, 166, 0) !important;
        }
    }
    
    
    .item {
        position: relative;
        cursor: pointer;
    
        a {
            letter-spacing: 1px;
            color: $colorWhite;
            font-size: 14px;
            text-decoration: none;
            display: block;
            padding: 5px 30px;
            line-height: 40px;
            
            &:hover {
                background: $colorOrange;
                transition: 0.3s ease-in-out;
            }
            
            
            .dropdown {
                position: absolute;
                right: 0;
                margin: 12px 16px 20px 0;;
            }
        }
        
        
        .sub-menu {
            display: none;
            background: #333;
            
            a {
                padding-left: 60px;
            }
        }
        
        .rotate {
            transition: 0.2s ease-in-out;
            transform: rotate(90deg);
        }
         
    }
} 

// section ----------------------------------------------
.container_btnNews {
    width: 100%;
    text-align: center;
    margin-top: 28px;
    
    a {
        font-family: 'Kanit', sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        color: $colorOrange + 40;
        text-decoration: none;
        padding: 6px 22px;
        border: 1px solid $colorOrange + 40;
        border-radius: 6px;
        background-color: transparent;
        
        &:hover {
            color: $colorWhite;
            transition: 0.4s;
            background-color: $colorOrange + 40;
            border: 1px solid transparent;
        }
    }
}

.containerMain {
    font-family: 'Prompt', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;

    .container_news {
        padding-top: 140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    
        p {
            font-weight: 400;
            text-align: left;
            margin-left: 28px;
            margin-bottom: 12px;
            font-size: 22px;
        }
        
        .announceNews {
            margin: 0 auto;
            text-align: center;
            width: 560px;
            height: 340px;
            .announceImg {
                // padding: 20px;
                border-top: 2.8px solid $colorOrangeWhite;
                img {
                    max-width: 100%;
                    height: 340px;
                }        
            }
            
        }
        
        .areaNews {
            margin: 0 auto;
            width: 560px;
            height: 300px;
            
            .tableNews {
                padding: 20px;
                font-family: 'Kanit', sans-serif;
                height: 100%;
                background-color: $colorWhite;
                border-top: 2.8px solid $colorOrangeWhite;
                overflow: hidden;
      
                .headTable {
                    display: grid;
                    grid-template-columns: 80% 20%;
                    margin-bottom: 22px;
                    margin-top: 4px;
                    
                    span {
                        font-weight: 400;
                        font-size: 16px;
                    }
                    
                    span:nth-child(1) {
                        text-align: left;
                    }
                    
                    span:nth-child(2) {
                        text-align: center;
                    }
                }
                
                .news {
                    font-family: 'Kanit', sans-serif;
                    display: grid;
                    grid-template-columns: 80% 20%;
                    margin-top: 9px;
                    line-height: 1.5;                    
                    a {
                        font-size: 14px;
                        margin-top: 20px;
                        text-align: left;
                        font-weight: 300;
                        text-decoration: none;
                        color: $colorDark;
                        
                        &:hover {
                            color: $colorOrange;
                        }
                    }
                    
                    span:nth-child(2) {
                        font-size: 15px;
                        font-weight: 300;
                        color: $colorOrange;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    .container_contact {
        margin-top: 200px;
        
        p {
            // text-align: center;
            font-size: 22px;
            margin-left: 40px;
        }
        
        .areaContact {
            line-height: 1.8;
            font-family: 'Kanit', sans-serif;
            display: grid; 
            grid-template-columns: 1fr 1fr;
            padding: 24px 0;
            margin-top: 14px;
            background-color: $colorWhite + 20;
            border-top: 2.8px solid #ff5100;
            justify-items: center;
            
            .map {
                width: 550px;
                height: 340px;
                box-shadow: $boxShadow;
                img {
                    box-shadow: $boxShadow;
                }
            }
            
            .contacts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 520px;
                height: 340px;
                
                #icon {
                    width: 100%;
                    height: 100%;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                
                .fb, .phone, .location {
                    display: grid;
                    width: 100%;
                    border-radius: 50px;
                    align-items: center;
                    padding: 14px 0px 10px 0px;
                    margin: 10px 0;
                    box-shadow: 1px 2px 6px 0 rgba(34, 34, 34, 0.6);
                    background-color: #fff;
                    
                    p { font-size: 14px; 
                        margin-left: 56px; 
                    }
                }
                
                .fb {
                    height: 50px;
                    grid-template-columns: 40px 1fr 1fr;
                    i { margin-bottom: 2px; color: rgb(0, 74, 172); }
                    p, a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    p {
                        font-size: 15px;
                        justify-content: flex-start;
                    }
                    a { 
                        justify-content: center;
                        color: $colorDark;
                        font-size: 14px;
                    }
                }
                
                .phone {
                    grid-template-columns: 40px 1fr 1fr;
                    i { color: rgb(0, 126, 10); }
                    
                    .number {
                        
                        p {
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 2px;
                        }
                    }
                    
                    .text {
                        p {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
                
                .location {
                    height: 50px;
                    grid-template-columns: 40px 100%;
                    i { color: rgb(158, 0, 0); }
                    
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

// footer -----------------------------------------------
.container_footer {
    margin-top: 80px;
    position: relative !important;
    width: 100%;
    background-color: #333;
    
    .copyRight {
        margin: 0 auto;
        text-align: center;
        width: 90%;
        padding: 14px 0;
        
        p {
            font-size: 14px;
            // font-weight: 300;
            // font-family: 'Kanit', sans-serif;
            font-family: 'Kanit', sans-serif;
            // font-family: 'Prompt', sans-serif;
            color: $colorWhiteHover + 20;
        }
    }
}

// All Responsive only !!
@media only screen and (min-width: 0px) and (max-width: 1200px) { // Phone
    
    .areaNav {
        max-width: 90% !important;
        .menu {
            display: none !important;
        }
        .menu-btn {
            display: block !important;
        }    
    }
    
    .container_news {
        grid-template-columns: 1fr !important;
        .areaNews {
            margin-top: 160px !important;
        }
    }
    
    .container_contact {
        margin: 0 auto;
        margin-top: 40px !important;
        
        p {
            font-size: 12px !important;
            margin-left: 40px !important;
        }
        
        .areaContact {
            line-height: 1.2 !important;

            grid-template-rows: 1fr 1fr !important;
            grid-template-areas: 'contact contact'
                                 'map map' !important;
            .map {
                grid-area: map !important; }
            
            .contacts {
                grid-area: contact !important; }
        }
    }
    
}

// Height navbar scroll
@media only screen and (min-height: 0px) and (max-height: 560px) {
    .side-bar { overflow: scroll !important; }}

// Default media responsive
@media only screen and (min-width: 280px) and (max-width: 420px) { // Phone
    #container_navbar {
        height: 40px !important;
        .areaNav {
            .textTitle {
                a {
                    font-size: 12px !important;
                }
            }
            .menu-btn {
                i {
                    font-size: 14px !important;
                }
            }
        }
    }

// News
    .announceNews {
        width: 300px !important;
        height: 180px !important;
        margin-bottom: -40px !important;
        p {
            margin-left: 8px !important;
            font-size: 14px !important;
        }
        .announceImg {
            border-top: 1.4px solid $colorOrangeWhite !important;        
            img {
                width: 100% !important;
                max-height: 180px !important;
            }
        }
        .container_btnNews {
            margin-top: 12px !important;
            a {
                font-weight: 300 !important;
                font-size: 10px !important;
                padding: 2px 8px !important;
                border: 1px solid $colorOrange + 40 !important;
            
                &:hover {
                    transition: 0.4s !important;
                    border: 1px solid transparent !important;
                }
            }
        }
    }
    
    .areaNews {
        width: 300px !important;
        height: 154px !important;
        p {
            margin-left: 8px !important;
            font-size: 14px !important;
        }
        .tableNews {
            padding: 4px !important;
            max-width: 300px !important;
            height: 100% !important;
            border-top: 1.4px solid $colorOrangeWhite !important;
  
            .headTable {
                margin-bottom: 10px !important;
                margin-top: 4px !important;
                
                span {
                    font-weight: 400 !important;
                    font-size: 8px !important;
                }
            }
            
            .news {
                grid-template-columns: 80% 20% !important;
                margin-top: 6px !important;
                line-height: 0.8 !important;                    
                a {
                    font-size: 8px !important;
                    margin-top: 20px !important;
                    font-weight: 300 !important;
                    
                    &:hover {
                        color: $colorOrange !important;
                    }
                }
                span:nth-child(2) {
                    margin-top: 6px !important;
                    font-size: 8px !important;
                    font-weight: 300 !important;
                }
            }
        }
        .container_btnNews {
            margin-top: 12px !important;
            a {
                font-weight: 300 !important;
                font-size: 10px !important;
                padding: 2px 8px !important;
                border: 1px solid $colorOrange + 40 !important;
            
                &:hover {
                    transition: 0.4s !important;
                    border: 1px solid transparent !important;
                }
            }
        }
    }
// End
    
    .container_footer {
        .copyRight {
            width: 90%;
            padding: 8px 0 !important;
            p {
                font-size: 6px !important;
            }
        }
    }
}

@media only screen and (min-width: 420px) and (max-width: 780px) { // Tablet Ipad
    #container_navbar {
        height: 40px !important;
        .areaNav {
            .textTitle {
                a {
                    font-size: 16px !important;
                }
            }
            .menu-btn {
                i {
                    font-size: 16px !important;
                }
            }
        }
        
    }
    
// News
    .container_news {
        height: 920px !important;
    }
    
    .announceNews {
        width: 530px !important;
        height: 280px !important;
        margin-bottom: -200px !important;
        .announceImg {
            border-top: 1.4px solid $colorOrangeWhite !important;        
            img {
                width: 100% !important;
                max-height: 280px !important;
            }
        }
        
    }
    
    .areaNews {
        width: 530px !important;
        height: 280px !important;
    }
// End
    
    .container_footer {
        .copyRight {
            width: 90%;
            padding: 12px 0 !important;
            p {
                font-size:10px !important;
            }
        }
    }
}

@media only screen and (min-width: 780px) and (max-width: 1400px) { // Tablet IpadPro
    .container_news {
        height: 1000px !important;
    }
    .announceNews {
        width: 530px !important;
        height: 320px !important;
        margin-bottom: -180px !important;
        .announceImg {
            border-top: 2.8px solid $colorOrangeWhite !important;        
            img {
                width: 100% !important;
                max-height: 320px !important;
            }
        }
    }
    .areaNews {
        width: 530px !important;
        height: 280px !important;
    }
    
    .container_contact {
        margin-top: -10px !important;
        max-width: 550px !important;
        
        .textTitle { font-size: 22px !important }
        .areaContact {
            padding-top: 0 !important;
            margin-top: -120 !important;
            .map {
                width: 90% !important;
            }
        }
    }
}